.breadcrumbs__container {
    background-color: $color-dark-blue;
    padding: 0.5em 0;
}

.breadcrumbs {
    font-size: 0.8em;
    color: $color-white;
    padding: 0 3rem;
}

#breadcrumbs {
    margin: 0;
    a {
        color: $color-white;
        &:hover {
            font-weight: 800;
        }
    }
}

.breadcrumb_last {
    font-weight: 800;
}
