.lifesavers-2019 {
  @extend .lifesavers-2017;
  background-color: $color-brand-dark-gray;
  padding-bottom: 2rem;
  @include responsive("medium") {
    width: 20%;
  }
  .features__button {
    background-color: $color-dark-blue;
    color: $color-white;
  }
  .blue {
    color: $color-brand-blue;
  }
  .committee .flex-box:first-child {
    background-color: inherit;
    padding: inherit;
    @include responsive("small") {
      width: inherit;
    }
    @include responsive("medium") {
      width: 40%;
    }
  }
}
